{% extends "tartan_eats/base.html" %} 

{% block navbar %} 
<li>
  <a href="{% url 'customer-home' %}">Home</a>
</li>
<!-- / Home -->
<!-- My Orders -->
<li>
  <a href="{% url 'customer-history-order' %}">My Orders</a>
</li>
<!-- / My Orders -->
<!-- My Account -->
<li>
  <a href="{% url 'customer-account' %}">My Account</a>
</li>
{% endblock %}

{% block content %}
<section class="page-wrapper success-msg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
              <i class="tf-ion-android-checkmark-circle"></i>
            <h2 class="text-center">Thank you for your payment! </h2>
            <p>Wait for a moment. Delicious will arrive soon!</p>
            <a href="{% url 'customer-home' %}" class="btn btn-main mt-20">Continue Shopping</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}