<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">     
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">     
        <!-- Themefisher Icon font -->
        <link rel="stylesheet" href="plugins/themefisher-font/style.css">
        <!-- bootstrap.min css -->
        <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css"> 
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/style.css">  
    </head>

    <body id="body" data-new-gr-c-s-check-loaded="14.1055.0" data-gr-ext-installed="">
        <!-- Start Top Header Bar -->
        <section class="top-header">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-xs-12 col-sm-4">
                <div class="contact-number">
                  <i class="tf-ion-ios-telephone"></i>
                  <span>0129-12323-123123</span>
                </div>
              </div>
              <div class="col-md-4 col-xs-12 col-sm-4">
                <!-- Site Logo -->
                <div class="logo text-center">
                    <!-- replace logo here -->
                    <svg width="259px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40" font-family="AustinBold, Austin" font-weight="bold">
                        <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                           <i class="fa-solid fa-bowl-food icon-bowl"></i>
                           <tspan x="80" y="325">Tartan Eats</tspan>
                          </text>
                        </g>
                      </g>
                    </svg>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Top Header Bar -->

        <section class="menu">
            <nav class="navbar navigation">
              <div class="container">
                <!-- Navbar Links -->
                <div id="navbar" class="navbar-collapse collapse text-center">
                  <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li class="dropdown ">
                      <a href="index.html">Home</a>
                    </li>
                    <!-- / Home -->
                    <!-- My Orders -->
                    <li class="dropdown ">
                      <a href="index.html">My Orders</a>
                    </li>
                    <!-- / My Orders -->
                    <!-- My Account -->
                    <li class="dropdown ">
                      <a href="index.html">My Account</a>
                    </li>
                    <!-- / My Account -->
                  </ul>
                  <!-- / .nav .navbar-nav -->
                </div>
                <!--/.navbar-collapse -->
              </div>
              <!-- / .container -->
            </nav>
          </section>
        
          <!-- Page name -->
          
          <section class="page-header">
            {% block pageheader %}{% endblock %}
          </section>
          
          <!-- Where main content goes -->
          <section class="page_content_container">
            {% block content %} {% endblock %}
          </section>

          <footer class="footer section text-center">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  
                  <ul class="footer-menu text-uppercase">
                    <li>
                      <a href="contact.html">CONTACT</a>
                    </li>
                    
                    <li>
                      <a href="contact.html">PRIVACY POLICY</a>
                    </li>
                  </ul>
                  <p class="copyright-text">Copyright ©2022, Designed &amp; Developed by <a href="https://themefisher.com/">Tartan Eats</a></p>
                </div>
              </div>
            </div>
          </footer>
          
    </body>
</html>
